* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav {
  margin-left: auto;
}

.brand {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #181862;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin: 10px;
}

aside {
  width: 130px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
}

article {
  flex: 1;
}

li {
  border: 1pt #181862 solid;
  border-radius: 10px;
  background-color: #181862;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.testimonial {
  background-color: #f1d0a4;
  padding: 10px;
  margin-left: 10px;
  font-style: italic;
  display: inline-block;
  border-radius: 6px;
}

p {
  padding: 10px;
}

h1 {
  padding: 10px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
}
